.Shrek{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -10000;

}
body{
    background-color: rgb(165, 97, 42);
    font-family: sans-serif;
    color: #c1c416;
}
a {
    display: inline-block;
    margin: 10px;
    padding: 20px 40px;
    background-color: #c1c416;
    color: rgb(255, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;

  }
  .shrek_knop {
    position: relative;
    margin-left: 90%;
    margin-top: -6rem;
    z-index: 10;

  }
  .klik_hier{
        position: relative;
    margin-left: 78%;
    margin-top: -4rem;

    width: 10%;
  }
  .klik_hier-txt{
    position: relative;
    margin-left: 65%;
    margin-top: -4rem;
  }
  .mini_Shrek{
    position: fixed;
    margin-left: 65%;
    width: 10%;
    margin-top: 17rem;
    z-index: -10000;

  }
  .Shrek:hover{
    z-index: 1;
  }
  .game{
    width: 70%;
    height: 60%;
    z-index: 1;
  }
  .Gromit_mug{
    position: fixed;
    margin-left: 70%;
    margin-top: 3rem;

  }
  .eend{
    width: 5rem;
    margin-top: -4.5rem;
    margin-left: 13rem;

  }